header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
  }
nav {
    background-color: #f1f1f1;
    overflow: hidden;
  }
  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  nav li {
    float: left;
  }
  
  nav a {
    display: block;
    color: #333;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  nav a:hover {
    background-color: #ddd;
    color: black;
  }
  
.e108_33 { 
	background-color:rgba(255, 255, 255, 1);
	width:360px;
	height:640px;
	position:absolute;
}
.e108_34 { 
	background-color:rgba(0, 0, 0, 1);
	width:360px;
	height:60px;
	position:absolute;
	left:0px;
	top:0px;
}
.e108_35 { 
	color:rgba(255, 255, 255, 1);
	width:118px;
	height:29px;
	position:absolute;
	left:121px;
	top:16px;
	font-family:Inter;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e108_36 { 
	transform: rotate(-89.99999248656539deg);
	width:24.000001907348633px;
	height:13.399993896484375px;
	position:absolute;
	left:81px;
	top:42px;
}

.e108_37 { 
	transform: rotate(90.00000250447808deg);
	width:24px;
	height:17.000003814697266px;
	position:absolute;
	left:283px;
	top:18px;
}

.e108_38 { 
	background-color:rgba(255, 255, 255, 1);
	width:360px;
	height:28px;
	position:absolute;
	left:0px;
	top:60px;
}

.e108_39 { 
	width:51px;
	height:28px;
	position:absolute;
	left:0px;
	top:60px;
}
.e108_40 { 
	color:rgba(0, 0, 0, 1);
	width:18px;
	height:27px;
	position:absolute;
	left:16px;
	top:0px;
	font-family:Inter;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e108_41 { 
	width:51px;
	height:28px;
	position:absolute;
	left:51px;
	top:60px;
}
.e108_42 { 
	color:rgba(0, 0, 0, 1);
	width:18px;
	height:27px;
	position:absolute;
	left:16px;
	top:1px;
	font-family:Inter;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}

.e108_43 { 
	width:51px;
	height:28px;
	position:absolute;
	left:255px;
	top:60px;
}
.e108_44 { 
	color:rgba(0, 0, 0, 1);
	width:18px;
	height:27px;
	position:absolute;
	left:17px;
	top:0px;
	font-family:Inter;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}

.e108_45 { 
	width:54px;
	height:28px;
	position:absolute;
	left:306px;
	top:60px;
}
.e108_46 { 
	color:rgba(0, 0, 0, 1);
	width:18px;
	height:27px;
	position:absolute;
	left:18px;
	top:1px;
	font-family:Inter;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}

.e108_47 { 
	width:51px;
	height:28px;
	position:absolute;
	left:102px;
	top:60px;
}

.e108_48 { 
	width:51px;
	height:28px;
	position:absolute;
	left:0px;
	top:0px;
}
.e108_49 { 
	color:rgba(0, 0, 0, 1);
	width:18px;
	height:27px;
	position:absolute;
	left:16px;
	top:0px;
	font-family:Inter;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}

.e108_50 { 
	width:51px;
	height:28px;
	position:absolute;
	left:153px;
	top:60px;
}
.e108_51 { 
	color:rgba(0, 0, 0, 1);
	width:18px;
	height:27px;
	position:absolute;
	left:16px;
	top:1px;
	font-family:Inter;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}

.e108_52 { 
	width:51px;
	height:28px;
	position:absolute;
	left:204px;
	top:60px;
}
.e108_53 { 
	color:rgba(0, 0, 0, 1);
	width:18px;
	height:27px;
	position:absolute;
	left:17px;
	top:1px;
	font-family:Inter;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e108_54 { 
	transform: rotate(90deg);
	width:410px;
	height:0px;
	position:absolute;
	left:51px;
	top:88px;
}

.e108_55 { 
	transform: rotate(90deg);
	width:410px;
	height:0px;
	position:absolute;
	left:306px;
	top:88px;
}

.e108_56 { 
	transform: rotate(90deg);
	width:410px;
	height:0px;
	position:absolute;
	left:255px;
	top:88px;
}

.e108_57 { 
	transform: rotate(90deg);
	width:410px;
	height:0px;
	position:absolute;
	left:204px;
	top:88px;
}

.e108_58 { 
	transform: rotate(90deg);
	width:410px;
	height:0px;
	position:absolute;
	left:153px;
	top:88px;
}

.e108_59 { 
	transform: rotate(90deg);
	width:410px;
	height:0px;
	position:absolute;
	left:102px;
	top:88px;
}

.e108_60 { 
	transform: rotate(-0.16277166056764622deg);
	width:360.00140380859375px;
	height:0px;
	position:absolute;
	left:0px;
	top:165.02272033691406px;
}

.e108_61 { 
	transform: rotate(-0.16277166056764622deg);
	width:360.00140380859375px;
	height:0px;
	position:absolute;
	left:-2px;
	top:499.0227355957031px;
}

.e108_62 { 
	transform: rotate(-0.16277166056764622deg);
	width:360.00140380859375px;
	height:0px;
	position:absolute;
	left:0px;
	top:415.0227355957031px;
}

.e108_63 { 
	transform: rotate(-0.16277166056764622deg);
	width:360.00140380859375px;
	height:0px;
	position:absolute;
	left:0px;
	top:337.0227355957031px;
}
.e108_64 { 
	transform: rotate(-0.16277166056764622deg);
	width:360.00140380859375px;
	height:0px;
	position:absolute;
	left:0px;
	top:253.02273559570312px;
}

.e108_65 { 
	background-color:rgba(0, 0, 0, 1);
	width:178px;
	height:38px;
	position:absolute;
	left:91px;
	top:531px;
}
.e108_66 { 
	color:rgba(255, 255, 255, 1);
	width:114px;
	height:24px;
	position:absolute;
	left:141px;
	top:538px;
	font-family:Inter;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}

.e108_67 { 
	width:24px;
	height:24px;
	position:absolute;
	left:102px;
	top:538px;
	
}
.e108_68 { 
	color:rgba(94.56250101327896, 89.83437672257423, 89.83437672257423, 1);
	width:24px;
	height:24px;
	position:absolute;
	left:13px;
	top:94px;
	font-family:Inter;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e108_69 { 
	color:rgba(0, 0, 0, 1);
	width:26px;
	height:24px;
	position:absolute;
	left:13px;
	top:171px;
	font-family:Inter;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e108_70 { 
	color:rgba(0, 0, 0, 1);
	width:26px;
	height:24px;
	position:absolute;
	left:268px;
	top:171px;
	font-family:Inter;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e108_71 { 
	color:rgba(0, 0, 0, 1);
	width:22px;
	height:24px;
	position:absolute;
	left:62px;
	top:259px;
	font-family:Inter;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e108_72 { 
	color:rgba(0, 0, 0, 1);
	width:22px;
	height:24px;
	position:absolute;
	left:323px;
	top:259px;
	font-family:Inter;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e108_73 { 
	color:rgba(0, 0, 0, 1);
	width:23px;
	height:24px;
	position:absolute;
	left:12px;
	top:343px;
	font-family:Inter;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e108_74 { 
	color:rgba(0, 0, 0, 1);
	width:26px;
	height:24px;
	position:absolute;
	left:322px;
	top:343px;
	font-family:Inter;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e108_75 { 
	color:rgba(0, 0, 0, 1);
	width:26px;
	height:24px;
	position:absolute;
	left:270px;
	top:343px;
	font-family:Inter;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e108_76 { 
	color:rgba(0, 0, 0, 1);
	width:25px;
	height:24px;
	position:absolute;
	left:218px;
	top:343px;
	font-family:Inter;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e108_77 { 
	color:rgba(0, 0, 0, 1);
	width:25px;
	height:24px;
	position:absolute;
	left:13px;
	top:421px;
	font-family:Inter;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e108_78 { 
	color:rgba(0, 0, 0, 1);
	width:23px;
	height:24px;
	position:absolute;
	left:322px;
	top:421px;
	font-family:Inter;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e108_79 { 
	color:rgba(0, 0, 0, 1);
	width:26px;
	height:24px;
	position:absolute;
	left:270px;
	top:421px;
	font-family:Inter;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e108_80 { 
	color:rgba(0, 0, 0, 1);
	width:25px;
	height:24px;
	position:absolute;
	left:219px;
	top:421px;
	font-family:Inter;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e108_81 { 
	color:rgba(0, 0, 0, 1);
	width:25px;
	height:24px;
	position:absolute;
	left:169px;
	top:421px;
	font-family:Inter;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e108_82 { 
	color:rgba(0, 0, 0, 1);
	width:24px;
	height:24px;
	position:absolute;
	left:114px;
	top:421px;
	font-family:Inter;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e108_83 { 
	color:rgba(0, 0, 0, 1);
	width:25px;
	height:24px;
	position:absolute;
	left:64px;
	top:421px;
	font-family:Inter;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e108_84 { 
	color:rgba(0, 0, 0, 1);
	width:22px;
	height:24px;
	position:absolute;
	left:168px;
	top:343px;
	font-family:Inter;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e108_85 { 
	color:rgba(0, 0, 0, 1);
	width:26px;
	height:24px;
	position:absolute;
	left:116px;
	top:343px;
	font-family:Inter;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e108_86 { 
	color:rgba(0, 0, 0, 1);
	width:23px;
	height:24px;
	position:absolute;
	left:63px;
	top:343px;
	font-family:Inter;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e108_87 { 
	color:rgba(0, 0, 0, 1);
	width:23px;
	height:24px;
	position:absolute;
	left:270px;
	top:259px;
	font-family:Inter;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e108_88 { 
	color:rgba(0, 0, 0, 1);
	width:22px;
	height:24px;
	position:absolute;
	left:219px;
	top:259px;
	font-family:Inter;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e108_89 { 
	color:rgba(0, 0, 0, 1);
	width:23px;
	height:24px;
	position:absolute;
	left:168px;
	top:259px;
	font-family:Inter;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e108_90 { 
	color:rgba(0, 0, 0, 1);
	width:23px;
	height:24px;
	position:absolute;
	left:116px;
	top:259px;
	font-family:Inter;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e108_91 { 
	color:rgba(0, 0, 0, 1);
	width:19px;
	height:24px;
	position:absolute;
	left:13px;
	top:259px;
	font-family:Inter;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e108_92 { 
	color:rgba(0, 0, 0, 1);
	width:23px;
	height:24px;
	position:absolute;
	left:321px;
	top:171px;
	font-family:Inter;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e108_93 { 
	color:rgba(0, 0, 0, 1);
	width:26px;
	height:24px;
	position:absolute;
	left:217px;
	top:171px;
	font-family:Inter;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e108_94 { 
	color:rgba(0, 0, 0, 1);
	width:25px;
	height:24px;
	position:absolute;
	left:166px;
	top:171px;
	font-family:Inter;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e108_95 { 
	color:rgba(0, 0, 0, 1);
	width:26px;
	height:24px;
	position:absolute;
	left:114px;
	top:171px;
	font-family:Inter;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e108_96 { 
	color:rgba(0, 0, 0, 1);
	width:26px;
	height:24px;
	position:absolute;
	left:63px;
	top:171px;
	font-family:Inter;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e108_97 { 
	color:rgba(0, 0, 0, 1);
	width:26px;
	height:24px;
	position:absolute;
	left:321px;
	top:94px;
	font-family:Inter;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e108_98 { 
	color:rgba(0, 0, 0, 1);
	width:26px;
	height:24px;
	position:absolute;
	left:269px;
	top:94px;
	font-family:Inter;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e108_99 { 
	color:rgba(0, 0, 0, 1);
	width:23px;
	height:24px;
	position:absolute;
	left:218px;
	top:94px;
	font-family:Inter;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e108_100 { 
	color:rgba(94.56250101327896, 89.83437672257423, 89.83437672257423, 1);
	width:26px;
	height:24px;
	position:absolute;
	left:166px;
	top:94px;
	font-family:Inter;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e108_101 { 
	color:rgba(94.56250101327896, 89.83437672257423, 89.83437672257423, 1);
	width:25px;
	height:24px;
	position:absolute;
	left:115px;
	top:94px;
	font-family:Inter;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e108_102 { 
	color:rgba(94.56250101327896, 89.83437672257423, 89.83437672257423, 1);
	width:25px;
	height:24px;
	position:absolute;
	left:61px;
	top:94px;
	font-family:Inter;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
